body {
    padding: 0px;
    margin: 0px;
}

:root {
    font-size: 20px;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    height: 10vh;
}

#logo {
    height: 7vh;
}

#message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    height: 10vh;
}

#boards-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: midnightblue;
    height: 72vh;
    flex-wrap: wrap;
    gap: 40px;
}

.board-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.board-heading {
    color: white;
}

#credit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: lightgray;
}

.board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.position {
    color: white;
    background-color: midnightblue;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enemy button:hover {
    background-color: green;
    cursor: crosshair;
}

.enemy button.shot:hover {
    background-color: maroon;
    cursor:not-allowed;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}